<html>

<head>
  <title>Express</title>
  <!-- <link rel="stylesheet" href="public\stylesheets\style.css"> -->
  <style>
    body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 100vh;
  max-width: 100vw;
  background-image: url('./bg-min.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h1 {
  margin-top: 0px;
}
p {
  text-align: center;
}
.title{
  z-index: 50;
  height: fit-content;
}

.container {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: black;
  opacity: 0.8;
  color: white;
}
.form-container{
  display: flex;
  flex-direction: column;
  
}
.form-container:first-of-type{
  margin-right: 2em;
}
input{
  margin-bottom: 5px;
  text-align: center;
  border-radius: 3px;
}
footer {
  position: absolute;
  bottom: 10px;
  justify-self: flex-end;
}
.btn {
  cursor: pointer;
  width: 100%;
  background-color: rgb(14, 54, 119);
  color: white;
  z-index: 100;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.visa{
  margin-top: 2em;
  background-color: rgb(21, 21, 71);
}

  </style>
</head>

<body>
  <div class="title">
    <h1>Städer och Länder Admin</h1>
  </div>
  <div class="container">
    <div class="form-container">
      <p> <strong> Lägg till Länder:</strong></p>
      <form action="/add" method="post">
        <input type="text" name="id" id="id" placeholder="Ange ID"><br/>
        <input type="text" name="land" id="land" placeholder="Ange land"><br/>
        <input type="submit" name="submit-btn-add" id="submit-btn-add-land" class="btn" value="Lägg till land">
      </form>
      
      <p><strong>Lägg till Städer:</strong></p>
      <form action="/add" method="post">
        <input type="text" name="id" id="id" placeholder="Ange ID"><br/>
        <input type="text" name="stad" id="stad" placeholder="Ange stad"><br/>
        <input type="text" name="countryid" id="countryid" placeholder="Ange land ID"><br/>
        <input type="text" name="population" id="population" placeholder="Ange population"><br/>
        <input type="submit" name="submit-btn-add" id="submit-btn-add-stad" class="btn" value="Lägg till stad">
      </form>
      <button class="btn visa" onclick="document.location.href = './stader'">Visa städer</button>
    </div>
    <div class="form-container">
      <p> <strong> Ta bort Länder:</strong></p>
      <form action="/remove" method="post">
        <input type="text" name="id" id="id" placeholder="Ange ID"><br/>
        <input type="text" name="land" id="land" placeholder="Ange land"><br/>
        <input type="submit" name="submit-btn-remove" id="submit-btn-remove" class="btn" value="Ta bort land">
      </form>
      <p><strong>Ta bort Städer:</strong></p>
      <form action="/remove" method="post">
        <input type="text" name="id" id="id" placeholder="Ange ID"><br/>
        <input type="text" name="stad" id="stad" placeholder="Ange stad"><br/>
        <input type="text" name="countryid" id="countryid" placeholder="Ange land ID"><br/>
        <input type="text" name="population" id="population" placeholder="Ange population"><br/>
        <input type="submit" name="submit-btn-remove" id="submit-btn-remove" class="btn" value="Ta bort stad">
      </form>
      <button class="btn visa" onclick="document.location.href = './lander'" >Visa Länder</button>
    </div>
    

    <footer>Created by Nandan Tyagi | <a href="http://www.nandantyagi.com">www.nandantyagi.com</a> | <a href="http://www.nandantyagi.com/stader-lander/index.html">Städer och länder</a></footer>
  </div>
  <script src="javascripts/index.js"></script>
</body>

</html>
